<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registerForm.css">
    <title>Registra</title>
</head>
<body>
   <div class="main-containerForm">
    <form id="register-Form" method="post" action="/users" >
            <h2>Cadastre-se para acessar</h2>
            <hr>
        <div class="full-box spacing">
            <label for="name"><b>Nome completo</b></label>
            <input type="text" name="name" value="<%=locals.oldData ? oldData.name : null %>" >
           
            <% if(locals.errors && errors.name) { %>
        <div class="error-validation"><%= errors.name.msg %></div>
            <% } %>
        </div>    

        <div class="half-box">
            <label for="email"><b>Email</b></label>
            <input type="text" name="email">

            <% if(locals.errors && errors.email) { %>
            <div class="error-validation"><%= errors.email.msg %> 
            </div>
            <% } %>
        </div>   

        <div class="half-box">
            <label for="email-repeat"><b>Confirme seu Email</b></label>
            <input type="text" name="email-repeat">

            <% if(locals.errors && errors.email) { %>
            <div class="error-validation"><%= errors.email.msg %> 
            </div>
            <% } %>
        </div>

        <div class="half-box spacing">
            <label for="psw"><b>Senha</b></label>
            <input type="password" name="psw">
 
            <% if(locals.errors && errors.psw) { %>
            <div class="error-validation"><%= errors.psw.msg %> 
            </div>
            <% } %>
        </div> 

        <div class="half-box">
            <label for="psw-repeat"><b>Confirme a sua Senha</b></label>
            <input type="password" name="psw-repeat">

            <% if(locals.errors && errors.psw) { %>
                <div class="error-validation"><%= errors.psw.msg %> 
                </div>
                <% } %>
        </div>

        <div class="full-box">
            <input type="checkbox" name="agreement" id="agreement">
            <label for="agreement" id="agreement-lebel"><b>Eu li e aceito os <a href="#">termos de uso</a></b></label>
        </div>  

        <div class="full-box">
            <input type="submit" id="btn-submit" value="Registrar">
        </div>
    </form>
   </div>
</body>
</html>